@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	/* background-color: #000000; */
	height: 100%;
	margin: 0;
}
/* .container_movies {
	transform: translateX(0px);
} */

@layer components {
	.btnModal {
		@apply border-[1px] p-[5px] h-7 w-7 md:h-9 md:w-9 rounded-lg flex items-center justify-center hover:bg-white hover:text-black transition ease-in-out duration-[250ms];
	}
}

@layer base {
	body {
		@apply bg-black;
	}
}

.modal-open {
	overflow: hidden;
}
.movie {
	flex: 0 0 20%;
	transition: transform 300ms ease 100ms;
	margin: 0 2px;
	position: relative;
}

.slider {
	display: flex;
	position: relative;
}
.slider__container {
	display: flex;
	padding: 0 55px;
	transition: transform 300ms ease 100ms;
	z-index: 3;
	width: 100%;
}

.show-details-button {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
	transition: opacity 300ms ease 100ms;
	background: transparent;
	border: 0;
	outline: none;
	width: 100%;
}
.show-details-button > span {
	display: block;
	width: 14px;
	margin: 0 auto;
	color: white;
}

.slider:not(.slider--open) .movie:hover .show-details-button {
	opacity: 1;
}

.slider:not(.slider--open) .movie:hover {
	transform: scale(1.5) !important;
}

.slider:not(.slider--open):hover .movie {
	transform: translateX(-25%);
}

.slider:not(.slider--open) .movie:hover ~ .movie {
	transform: translateX(25%);
}

.slider-button {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 55px;
	background: rgba(0, 0, 0, 0.5);
	border: 0;
	outline: 0;
	padding: 0;
	margin: 40px 0;
	z-index: 4;
}

.slider-button span {
	width: 25px;
	color: #fff;
	display: block;
	margin: 0 auto;
}

.slider-button--next {
	right: 0;
}

.slider-button--next span {
	transform: rotateZ(-90deg);
}

.slider-button--prev {
	left: 0;
}

.slider-button--prev span {
	transform: rotateZ(90deg);
}
