@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	height: 100%;
	margin: 0;
}

@layer components {
	.btnModal {
		@apply border-[1px] p-[5px] h-7 w-7 md:h-9 md:w-9 rounded-lg flex items-center justify-center hover:bg-white hover:text-black transition ease-in-out duration-[250ms];
	}
	.movie {
		@apply object-cover w-[150px] h-[180px] md:w-[200px] md:h-[120px] lg:w-[300px] lg:h-[160px] rounded-[12px] hover:scale-110 duration-[250ms] ease-linear py-2;
	}
}

@layer base {
	body {
		@apply bg-black;
	}
}

.modal-open {
	overflow: hidden;
}

/* @keyframes slideIn {
	from {
		transform: translateX(-100%);
	}
	to {
		transform: translateX(0);
	}
}

.content.active {
	animation: slideIn 0.5s ease-in;
} */
